body{
	
	background: #f3f2f3;
	color: #000000;
	font-family: Roboto Light;
	text-color : #FFFEFE;
	font-size: 16px;

}
hr { background-color: #D54949; height: 2px; border: 0; }
#wrapper{
	
	background: #FFFFFF;
	margin: 60px auto;
	width: 1400px;
	height: 750px;

}

#header{
	
	background: #838283;
	height: 200px;
	width: 1400px;
	
}

#navigation{

	background: #D54949;
	width: 1400px;
	height: 30px;

}

#menu{

	background: #333333;
	float: left;
	width: 300px;
	height: 750px;

}
#menu1{
   // background-image: url("../image/small-weather.jpg");
	background: #008B8B;
	float: left;
	width: 288px;
	height: 320px;

}

#content{

	background: #d2d0d2;
	
	width: 1400px;
	height: 750px;

}
#map-canvas{

	background: #d2d0d2;

	width: 1100px;
	height: 750px;

}

#footer{

	background: #D54949;
	height: 20px;
	width: 1400px;

}


        .tileTextDisplay {
            font-family: arial,sans-serif;
            font-weight: lighter !important;
            color: #878787 !important;
        }
        .largerFont {
            font-size: x-large !important;
            color: #212121 !important;
        }
        .mediumFont {
            font-size: medium !important;
            color: #212121 !important;
        }
        #weather-temp {
            font-family: 'Arial', sans-serif;
            font-size: 64px;
            color: #212121 !important;
        }
        #unitType {
            font-family: 'Arial', sans-serif;
            font-size: 20px;
            color: #000000 !important;
        }